
<h3 style="text-align:center">Log in:</h3>

<div style="text-align:center">

  <%= form_for @user, url: '/login' do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %><br><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login" %>

  <%end%>

  <%= link_to "Login via GitHub", '/auth/github'%>

  <br>

  <h5 style="text-align:center">Don't have an account? <%=link_to 'Signup', signup_path%></h5>


</div>


<!--link options-->
