<%= form_for @submission do |f| %>
<%= f.hidden_field :user_id, :value=> session[:user_id] %>

<div class="w3-section">
<%= f.label :college_id, "Select a School" %>
<%= f.collection_select :college_id, College.all, :id, :name, prompt: true %><br><br>
</div>

<div class="w3-section">
<%= f.label :program %>
<%= f.text_field :program %><br>
</div>

<div class="w3-section">
<%= f.label "Department Website" %>
<%= f.text_field :website %><br>
</div>

<div class="w3-section">
<%= f.label :degree %>
<%= f.text_field :degree %><br>
</div>

<div class="w3-section">
<%= f.label "Faculty Mentor Name:" %>
<%= f.text_field :faculty %><br>
</div>

<div class="w3-section">
<%= f.label "Application Cost" %>
<%= f.text_field :application_cost %><br>
</div>

<div class="w3-section">
<%= f.label "Letters of Reccomendation" %>
<%= f.text_field :lor %><br>
</div>

<div class="w3-section">
<%= f.label "Application Deadline" %>
<%= f.date_field :deadline %><br>
</div>

<div class="w3-section">
<%= f.label "Date Submitted" %>
<%= f.date_field :date_submitted %><br>
</div>

<div class="w3-section">
<%= f.label :status_id, "Status" %>
<%= f.collection_select :status_id, Status.all, :id, :name, prompt: true %><br><br>
</div>

<%= f.submit "Submit" %>

<% end %>
