<%= form_for @submission do |f| %>
<%= f.hidden_field :user_id, :value=> session[:user_id] %>

<% if @submission.errors.any? %>
  <div>
    <h4 style="color:red">
  The following error(s) prevented this submission from being saved:<br>
  Please enter the required fields.
</h4>
    <ul style="color:red">
    <% @submission.errors.full_messages.each do |msg| %>
      <li style="color:red"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<% if @submission.errors[:college_id].empty? %>
  <div class="w3-section">
<% else %>
  <div class="field_with_errors">
<% end %>
<%= f.label :college_id, "Select a College" %>
<%= f.collection_select :college_id, College.all, :id, :name, prompt: true %><br><br>
</div>


<% if @submission.errors[:program].empty? %>
  <div class="w3-section">
<% else %>
  <div class="field_with_errors">
<% end %>
<%= f.label :program %>
<%= f.text_field :program %><br>
</div>

<div class="w3-section">
<%= f.label "Department Website" %>
<%= f.text_field :website %><br>
</div>

<div class="w3-section">
<%= f.label :degree %>
<%= f.text_field :degree %><br>
</div>

<div class="w3-section">
<%= f.label "Faculty Mentor Name:" %>
<%= f.text_field :faculty %><br>
</div>

<div class="w3-section">
<%= f.label "Application Cost" %>
<%= f.text_field :application_cost %><br>
</div>

<div class="w3-section">
<%= f.label "Letters of Reccomendation" %>
<%= f.text_field :lor %><br>
</div>

<div class="w3-section">
<%= f.label "Application Deadline" %>
<%= f.date_field :deadline %><br>
</div>

<div class="w3-section">
<%= f.label "Date Submitted" %>
<%= f.date_field :date_submitted %><br>
</div>

<% if @submission.errors[:status_id].empty? %>
  <div class="w3-section">
<% else %>
  <div class="field_with_errors">
<% end %>
<%= f.label :status_id, "Status" %>
<%= f.collection_select :status_id, Status.all, :id, :name, prompt: true %><br><br>
</div>

<%= f.submit "Submit" %>

<% end %>
