<h3>All Submissions</h3>

<br>
<p>Current submissions by App Community:</p>
<br>

<table>
  <tr>
    <th class="w3-large w3-padding-22">Program Name</th>
    <th class="w3-large w3-padding-22">Degree</th>
    <th class="w3-large w3-padding-22">College</th>
    <th class="w3-large w3-padding-22">Applicant</th>
    <th class="w3-large w3-padding-22">Email</th>
  </tr>

  <% @submissions.each do |submission| %>


  <tr>
    <td><%= link_to submission.program, submission_path(submission) %> </td>
    <td><%=submission.degree%></td>
    <td><%= link_to submission.college.try(:name), college_submissions_path(submission.college) %></td>
    <td><%= link_to submission.user.name, user_submissions_path(submission.user) %></td>
    <td><%= submission.user.email%></td>
  </tr>

    <% end %>
</table>















<!--link options-->
<%= link_to "Go to My Profile", user_path(current_user) %>



<br><br><br>



<% @submissions.each do |submission| %>
<%= link_to submission.program, submission_path(submission) %> - <%= submission.college.try(:name) %>
(by: <%= link_to submission.user.name, user_submissions_path(submission.user) %>)<br>

<% end %>
