<div class="w3-container w3-light-grey w3-padding-32 " id="contact">
  <div class="w3-content" style="left-align" >

    <h4>Submissions (most recent on top)</h4>
    <p>

    <table>
      <tr>
        <th class="w3-large w3-padding-22">Program Name</th>
        <th class="w3-large w3-padding-22">Degree</th>
        <th class="w3-large w3-padding-22">School</th>
        <th class="w3-large w3-padding-22">Applicant</th>
        <th class="w3-large w3-padding-22">Email</th>
      </tr>

      <% @submissions.recent.each do |submission| %>

      <tr>
        <td><%= link_to submission.program, user_submission_path(submission.user_id,submission) %></td>
        <td><%=submission.degree%></td>
        <td><%=submission.college.try(:name) %></td>
        <td><%=submission.user.name%></td>
        <td><%= submission.user.email%></td>
      </tr>

      <% end %>
    </table>

    </p>

    <!--link options-->
    <div>
        <div style="display: inline-block;"><%= link_to "View all Schools", colleges_path %></div>
        <div style="display: inline-block;">  </div>
        <div style="display: inline-block;"><%= link_to "View all Submissions", submissions_path %></div>
        <div style="display: inline-block;">  </div>
        <div style="display: inline-block;"><%= link_to "Add a New Submission", new_submission_path %></div>
        <div style="display: inline-block;">  </div>
        <div style="display: inline-block;"><%= link_to "Back to Profile", user_path(current_user) %></div>
        <div style="display: inline-block;">  </div>
        <br>

        <div style="display: inline-block;">  </div>
    </div>

  </div>
</div>
